Курсовая[[:space:]]Губанов[[:space:]]ИС23.docx filter=lfs diff=lfs merge=lfs -text
Личная[[:space:]]страница[[:space:]]-[[:space:]]Google[[:space:]]Chrome[[:space:]]2026-04-01[[:space:]]23-55-39.mp4 filter=lfs diff=lfs merge=lfs -text
Презентация_Курсовая_Губанов.pptx filter=lfs diff=lfs merge=lfs -text
